WEB-INF/*
litepost/*
mxunit/*
wirebox/*
tests/ci/results
tests/ci/results/*
.project
settings.xml
.settings/org.eclipse.core.resources.prefs
# Intellij IDEA files
*.iml
*.ipr
*.idea
.ant-targets-build.xml